<!DOCTYPE html>
<html>
<head>
	<title>index Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 style="padding-left: 8%;">Welcome to the site</h1><br>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Here is the picture of the puppy</h3>
				<img class="img-responsive" style="height: 100px,width:auto" src="../static/puppy.jpg">
				<p>Photo by Raoul Droog on Unsplash</p>
			</div>
			
		</div>
		
	</div>
	
</body>
</html>